h1 {
  text-align: center;
  font-family:  fantasy;
}
body{
  background-color: #ffeead;
}
#recipe1 {
  background-color: #ff6f69;
  width: 300px;
  height: 50vh;
  -webkit-transition: width 1s;
  /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}

#recipe1:hover {
  width: 90%;
  height: 510px;
}

img {
  max-width: 100%;
}
#smores-img{
  width: 100%;
  height: 70%;
}

#recipe1:hover>img {
  float: left;
  margin: 5px;
  margin-right: 30px;
  height: 450px;
  width: 450px;
  border: 5px solid #ffcc5c;
}

#recipe1>ul, li, ol {
  display: none;
}

#recipe1:hover>ul, li {
  display: block;
}

#recipe1>p {
  display: none;
}

#recipe1:hover>p {
  display: block;
}

h3 {
  text-align: left;
}
h4{
  color: white;
  font-family: Comic Sans MS;
}
#smores{
  color: green;
}
#wings{
  color: yellow;
}
#chicken65{
  color: orange;
}
